TRAIN:
  EPOCHS: 300
MODEL:
  TYPE: swin
  NAME: swin_tiny_patch4_window7_224
  DROP_PATH_RATE: 0.2
  SWIN:
    EMBED_DIM: 96
    DEPTHS: [ 2, 2, 6, 2 ]
    NUM_HEADS: [ 3, 6, 12, 24 ]
    WINDOW_SIZE: 7
  ISTA2:
    QK_NORM: True
    V_NORM: True
    ISTA2_METHOD: v
    ATTN_INTER_TOPK: 1
    REP_TKN_TYPE: mean
